<mat-card>
    <mat-card-content>
        <mat-toolbar color="primary">
            <span>Cadastrar Vendas</span>
        </mat-toolbar>
        <form [formGroup]="cadastroVenda">
            <div class="row">
                <div class="col-4">
                    <label for="cliente">Cliente</label>
                    <input id="cliente" class="form-control " type = "text" formControlName="cliente">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="produto">Produto</label>
                    <input id="produto" class="form-control" type = "text" formControlName="produto">
                </div>
            </div>
            
            <div class="row">
                <div class="col-4">
                    <label for="quantidade">Quantidade</label>
                    <input id="quantidade" class="form-control" type = "number" formControlName="quantidade">
                </div>
            </div>
            
            <div class="row">
                <div class="col-4">
                    <label for="data">Data</label>
                    <input id="data" class="form-control" type = "date" formControlName="data">
                </div>
            </div>


    
        </form>
    </mat-card-content>
</mat-card>
