<mat-card  class="bg-light">
    <!--TOOLBAR-->
    <mat-card-content>
        <mat-toolbar class="toolbar border rounded-3">
            <span>Cadastrar Vendas</span>
        </mat-toolbar>

        <!--Formulario vendas-->
        <form class="formulario h-100 p-5" [formGroup]="cadastroVenda">
            <div class="itens row align-items-md-stretch">
                <div class="col-md-6">
                        <label for="cliente">Cliente</label>
                        <input id="cliente" class="form-control" type = "text" formControlName="cliente">
                </div>
                <div class="col-md-6">
                    <label for="produto">Produto</label>
                    <mat-form-field appearance="fill">
                        <mat-label>Código-Produto</mat-label>
                        <mat-select>
                            <mat-option>teste</mat-option>
                            <mat-option>teste</mat-option>
                        </mat-select>
                    </mat-form-field>
            </div>
            </div>
        <div class="itens row align-items-md-stretch">
            <div class="col-md-3">
                    <label for="quantidade">Quantidade</label>
                    <input id="quantidade" class="form-control" type = "number" formControlName="quantidade">
            </div>
                <div class="col-md-3">
                    <label for="data">Data</label>
                    <input id="data" class="form-control" type = "date" formControlName="data">
                </div>
            </div>

            <div class="itens row align-items-md-stretch">
                <div class="col-md-4">
                    <button class="btn btn-outline-primary btn-lg btn-block">Salvar</button>
             </div>
                <div class="col-md-2">
                    <button class="btn btn-outline-primary btn-lg btn-block">Limpar</button>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>
