<mat-card class="bg-light">
  <mat-card-content>
    <mat-toolbar class="toolbar border rounded-3">
      <span>Meus Clientes</span>
    </mat-toolbar>

  <!--Info Cliente-->
    <div class="row" align-items="flex-start" justify-content="space-evenly">
      <div class="col-md-4">
        <article class="information [ card ]">
          <h2 class="title">Nome</h2>
          <p class="info">*lista com nome dos clientes*</p>
          <table>
            <thead>
              <th>Cliente</th>
              <th>Desde</th>
            </thead>
            <tr>
              <td>Ursinhos LTDA</td>
              <td>01/01/2001</td>
            </tr>
            
          </table>
        </article>
      </div>
  
  <!--Info QTDE Clientes-->
      <div class="col-md-4">
        <article class="information [ card ]">
          <h2 class="title">Nome</h2>
          <p class="info">*qtde de clintes info*</p>

          <!--Clientes Novos-->
          <section class="l-card__user">
            <div class="l-card__userImage">
              <img src="https://avatars.githubusercontent.com/u/20525486?v=4">
            </div>
            <div class="l-card__userInfo">
              <span>2</span>
              <span>clientes novos</span>
            </div>
          </section>
          
          <!--Clientes Perdidos-->
          <section class="l-card__user">
            <div class="l-card__userImage">
              <img src="https://avatars.githubusercontent.com/u/20525486?v=4">
            </div>
            <div class="l-card__userInfo">
              <span>3</span>
              <span>Clientes Perdidos</span>
            </div>
          </section>

        </article>
      </div>
  </div>

  </mat-card-content>
</mat-card>
