.toolbar{
    background-color: #537FE7;
    color:#ffffff;
    justify-content: center;
}

.formulario{
    display: flex;
    flex-direction: column;
}

.itens{
    padding: 10px;
}


<<<<<<< HEAD
.button class{
    margin-bottom: 10px;
}
