.toolbar{
    background-color: #537FE7;
    color:#ffffff;
    justify-content: center;
}
.carregando-spinner{
  padding: 20px;
  background: rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}
