@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Outfit&display=swap');
* {
  font-family:'Montserrat', sans-serif !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


mat-card{
    width: 75vw;
}
